<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.cxx.service.mapper.BlogMapper">
    <!-- 前端需要的博客信息数据   -->
    <resultMap id="BlogInfoResultMap" type="com.blog.cxx.service.entity.vo.BlogInfo">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="description" column="description"/>
        <result property="content" column="content"/>
        <result property="views" column="views"/>
        <result property="words" column="words"/>
        <result property="username" column="username"/>
        <result property="typeName" column="type_name"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <!-- 根据用户查询所有博客 -->
    <select id="getAllBlogInfoByUsername" resultMap="BlogInfoResultMap">
        select b.id, b.title, b.description, b.content, b.views, b.words,
               u.username,
               t.type_name,
               b.status, b.create_time, b.update_time
        from blog b, user u, type t, blog_type bt, blog_user bu
        where u.username = #{username} and b.id=bt.blog_id and t.id=bt.type_id and b.id=bu.blog_id and u.id=bu.user_id
        order by b.create_time DESC
    </select>

    <!-- 根据用户查询所有公开博客 -->
    <select id="getPublicBlogInfoByUsername" resultMap="BlogInfoResultMap">
        select b.id, b.title, b.description, b.content, b.views, b.words,
               u.username,
               t.type_name,
               b.status, b.create_time, b.update_time
        from blog b, user u, type t, blog_type bt, blog_user bu
        where u.username = #{username} and b.status = 1 and b.id=bt.blog_id and t.id=bt.type_id and b.id=bu.blog_id and u.id=bu.user_id
        order by b.create_time DESC
    </select>

    <!-- 根据用户和类别查询所有博客 -->
    <select id="getAllBlogInfoByUsernameAndTypeName" resultMap="BlogInfoResultMap">
        select b.id, b.title, b.description, b.content, b.views, b.words,
               u.username,
               t.type_name,
               b.status, b.create_time, b.update_time
        from blog b, user u, type t, blog_type bt, blog_user bu
        where u.username = #{username} and t.type_name = #{typeName} and b.id=bt.blog_id and t.id=bt.type_id and b.id=bu.blog_id and u.id=bu.user_id
        order by b.create_time DESC
    </select>

    <!-- 根据用户和类别查询所有博客 -->
    <select id="getPublicBlogInfoByUsernameAndTypeName" resultMap="BlogInfoResultMap">
        select b.id, b.title, b.description, b.content, b.views, b.words,
               u.username,
               t.type_name,
               b.status, b.create_time, b.update_time
        from blog b, user u, type t, blog_type bt, blog_user bu
        where u.username = #{username} and t.type_name = #{typeName} and b.status = 1 and b.id=bt.blog_id and t.id=bt.type_id and b.id=bu.blog_id and u.id=bu.user_id
        order by b.create_time DESC
    </select>

    <!-- 根据id查询博客信息 -->
    <select id="getBlogInfoById" resultMap="BlogInfoResultMap">
        select b.id, b.title, b.description, b.content, b.views, b.words,
               u.username,
               t.type_name,
               b.status, b.create_time, b.update_time
        from blog b, user u, type t, blog_type bt, blog_user bu
        where b.id = #{id} and b.id=bt.blog_id and t.id=bt.type_id and b.id=bu.blog_id and u.id=bu.user_id
    </select>

</mapper>
