<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.cxx.service.mapper.UserMapper">

    <!--定义resultMap-->
    <resultMap id="UserResultMap" type="com.blog.cxx.service.entity.vo.UserInfo">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="nickname" column="nickname"/>
        <result property="avatar" column="avatar"/>
        <result property="email" column="email"/>
        <result property="status" column="status"/>

        <!-- 拼接其他xml中的接口 -->
        <!-- 注：这里的类型用List 不能用Role 否则会参数不匹配 -->
        <association
                property="roleList"
                column="id"
                javaType="List"
                select="com.blog.cxx.service.mapper.RoleMapper.selectRolesByUserId"/>
    </resultMap>

    <!-- 根据用户id查询用户信息 -->
    <select id="getAllUsers" resultMap="UserResultMap">
        select *
        from user u
    </select>

</mapper>
