<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.cxx.service.mapper.CommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.blog.cxx.service.entity.Comment">
        <id column="id" property="id" />
        <result column="nickname" property="nickname" />
        <result column="qq" property="qq" />
        <result column="email" property="email" />
        <result column="content" property="content" />
        <result column="avator" property="avator" />
        <result column="ip" property="ip" />
        <result column="website" property="website" />
        <result column="blog_id" property="blogId" />
        <result column="is_admin_comment" property="isAdminComment" />
        <result column="is_published" property="isPublished" />
        <result column="parent_comment_id" property="parentCommentId" />
        <result column="parent_comment_nickname" property="parentCommentNickname" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, nickname, qq, email, content, avator, ip, website, blog_id, is_admin_comment, is_published, parent_comment_id, parent_comment_nickname, create_time, update_time
    </sql>

</mapper>
